export const {{ .ServiceName }}Module = {
  registerRoutes: (router: any) => {
    router.push("/{{ .Name }}")
  },

  registerMenu: () => [
    {
      name: "{{ .ServiceName }}",
      path: "/{{ .Name }}"
    }
  ],

  init: () => {
    console.log("{{ .ServiceName }} module loaded")
  }
}