import { AppModule } from "@/core/module"

export const {{.Component}}Module: AppModule = {
  name: "{{.Name}}",

  menu: {
    label: "{{.Component}}",
    path: "/{{.Name}}",
  },

  permissions: {
    read: "{{.Name}}.read",
    write: "{{.Name}}.write",
  },
}